</div>
            </div>
            <!-- END MAIN CONTENT-->
            <!-- END PAGE CONTAINER-->
        </div>

    </div>

    <!-- Jquery JS-->
    <script src="/admin/js/vanilla-utils.js"></script>
    <!-- Bootstrap JS-->
    <script src="/admin/vendor/bootstrap-5.3.8.bundle.min.js"></script>
    <!-- Vendor JS       -->
    <script src="/admin/vendor/perfect-scrollbar/perfect-scrollbar-1.5.6.min.js"></script>
    <script src="/admin/vendor/chartjs/chart.umd.js-4.5.0.min.js"></script>

    <!-- Main JS-->
    <script src="/admin/js/bootstrap5-init.js"></script>
    <script src="/admin/js/main-vanilla.js"></script>
    <script src="/admin/js/swiper-bundle-11.2.10.min.js"></script>
    <script src="/admin/js/aos.js"></script>
    <script src="/admin/js/modern-plugins.js"></script>

    <script>
        ClassicEditor
            .create( document.querySelector( '.editor' ) )
            .catch( error => {
                console.error( error );
            } );
    </script>

</body>

</html>
<!-- end document-->